{% extends 'main/base.html' %}
{% block content %}
    <h2>Send us an email</h2>
    <p>Please fill out the form below to send us an email</p>
    <form method="post">
        {%csrf_token%}
        <div class="form-group">
            {{form.name.label_tag}}
            <input 
            type="text" 
            class="form-control {%if form.name.errors %}is-invalid{% endif %}" 
            placeholder="Your Name"
            value="{{form.name.value|default:''}}">
            {%if form.name.errors %}
                <div class="invalid-feedback">
                    {{form.name.errors}}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            {{form.message.label_tag}}
            <textarea 
                type="text" 
                class="form-control {%if form.message.errors %}is-invalid{% endif %}" 
                placeholder="Your message"
                value="{{form.message.value|default:''}}"
                rows="3">
            </textarea>
            {%if form.message.errors %}
                <div class="invalid-feedback">
                    {{form.message.errors}}
                </div>
            {% endif %}
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
{% endblock content %}